<div id="message_wrapper">
	<div id="message_nav">
		<ul class="nav">
			<li class="visited"><span>INBOX</span></li>
			<li><span>SENT</span></li>
			<li><span>DRAFTS</span></li>
			<li class="last"><span>TRASH</span></li>
		</ul>
	</div>
	<div id="message_content">
		<div id="message_actions">
			<div id="image">
				<%= image_tag("test/sample4.jpg") %>
			</div>
			<h2>Chabzlala29</h2>
			<ul class="actions">
				<li><button>Compose Message</button></li>
				<li><button class="delete">Delete Messages</button></li>
			</ul>
			
		</div>
			<div id="message_main">
				<div id="leftside">
					<div id="message_categories">
						<ul>
							<li class="visited"><span>All Messages</span></li>
							<li><span>Friends</span></li>
							<li><span>Strangers</span></li>
							<li><span>Drafts</span></li>
							<li class"last"><span>Trash</span></li>
						</ul>
					</div>
					<div id="ads">
						<h2>Some Ads</h2>
					</div>
				</div>
				<div id="message_message">
					<ul>
						<li class="first">
							<div id="image">
								<%= image_tag("test/techgnotic.gif") %>
							</div>
							<span class="username">Chabzlala29</span>
							
							<span class="message">Hi! Welcome to Peekbox.tv enjoy ur stay . . .</span>
							<span class="stat">41 minutes ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="username">Playmate2012</span>
							<span class="message">Hi! Welcome to Peekbox.tv enjoy ur stay . . .</span>
							<span class="stat">1 hour ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample2.jpg") %>
							</div>
							<span class="username">CandyCandy</span>
							<span class="message">This website is so amazing . . .</span>
							<span class="stat">1 hour ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample3.jpg") %>
							</div>
							<span class="username">RoughHeart</span>
							<span class="message">This site makes my heart soft.\m/</span>
							<span class="stat">23 hours ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/techgnotic.gif") %>
							</div>
							<span class="username">Chabzlala29</span>
							<span class="message">Hi! Welcome to Peekbox.tv enjoy ur stay . . .</span>
							<span class="stat">1 day ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="username">Playmate2012</span>
							<span class="message">Hi! Welcome to Peekbox.tv enjoy ur stay . . .</span>
							<span class="stat">2 days ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample2.jpg") %>
							</div>
							<span class="username">CandyCandy</span>
							<span class="message">This website is so amazing . . .</span>
							<span class="stat">3 days ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						<li>
							<div id="image">
								<%= image_tag("test/sample3.jpg") %>
							</div>
							<span class="username">RoughHeart</span>
							<span class="message">This site makes my heart soft.\m/</span>
							<span class="stat">1 week ago</span>
							<button class="delete">Read</button>
							<button class="delete">Delete</button>
						</li>
						
						
					</ul>
					<div id="pagination">
					</div>
					
				</div>
				<div id="message_side">
				<a href="#"><%= image_tag("test/ad1.jpg") %></a>
				<div>
					<h2>Some Ads</h2>
				</div>
			</div>
			
		</div>
	</div>
</div>