<div id="welcome_wrapper">
	<div id="welcome_div1">
		<%= image_tag("layout/bopose1.png") %>
		<div id="quote">
			<p>
				Peekbox TV is an online community that lets you upload your TV shows online.
			</p>
			<p>
				Let the world know about your hidden talents and let your confidence spread out througout the world.
			</p>
		</div>
		<%= image_tag("layout/process.png") %>
	</div>
	<div id="welcome_div2">
		<div>
			<h1>Not a Member Yet? Join Peekbox Now!</h1>
			<table>
				<tr>
					<td><span>Email</span></td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>Username</span></td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td><span>Password</span></td>
					<td><input type="password" /></td>
				</tr>
				<tr>
					<td><span>Confirm Password</span></td>
					<td><input type="password" /></td>
				</tr>
				<tr>
					<td></td>
					<td><button>Sign Up</button></td>
				</tr>
				
				
			</table>
			<p>
				<strong>Note:</strong> By clicking Sign Up, you agree to our <a href="#">Terms</a> and that you have read and understand our Data Use Policy, including our Cookie Use.
			</p>
		</div>
		<%= image_tag("layout/bopose2.png") %>
		<button id="take">Take a tour</button>
	</div>

</div>
<div id="welcome_wrapper2">
	<div id="newmembers">
		<p class="title">New Members of Peekbox</p>
		<div>
			<span title="Playmate2012"><%= image_tag("test/sample.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample2.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample3.jpg") %></span>
			<span title="Chabz"><%= image_tag("test/sample4.jpg") %></span>
			<span title="Pickup"><%= image_tag("test/sample5.jpg") %></span>
			<span title="Gracia"><%= image_tag("test/sample6.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample7.jpg") %></span>
			<span title="Sample"><%= image_tag("test/sample8.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample2.jpg") %></span>
			<span title="Pickup"><%= image_tag("test/sample3.jpg") %></span>
			<span title="Chabz"><%= image_tag("test/sample4.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample5.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample6.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample7.jpg") %></span>
			<span title="Playmate2012"><%= image_tag("test/sample8.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample3.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample.jpg") %></span>
		</div>
		<span class="quote">Learn more about <a href="#">Peekbox TV</a></span>
	</div>
	<div id="newmembers">
		<p class="title">Most Online Members</p>
		<div>
			<span title="Playmate2012"><%= image_tag("test/sample.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample2.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample3.jpg") %></span>
			<span title="Chabz"><%= image_tag("test/sample4.jpg") %></span>
			<span title="Pickup"><%= image_tag("test/sample5.jpg") %></span>
			<span title="Gracia"><%= image_tag("test/sample6.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample7.jpg") %></span>
			<span title="Sample"><%= image_tag("test/sample8.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample2.jpg") %></span>
			<span title="Pickup"><%= image_tag("test/sample3.jpg") %></span>
			<span title="Chabz"><%= image_tag("test/sample4.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample5.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample6.jpg") %></span>
			<span title="CuteBaby"><%= image_tag("test/sample7.jpg") %></span>
			<span title="Playmate2012"><%= image_tag("test/sample8.jpg") %></span>
			<span title="MrJowk"><%= image_tag("test/sample3.jpg") %></span>
			<span title="CandyCandy"><%= image_tag("test/sample.jpg") %></span>
		</div>
		<span class="quote">Join Peekbox TV Now! Click on <a href="#">Sign Up</a>.</span>
	</div>
	<div id="signin">
		<p class="title">Already a Member? Sign In.</p>
		<table>
			<tr>
				<td><span class="label">Email</span></td>
				<td><input class="textbox" type="text" /></td>
			</tr>
			<tr>
				<td><span class="label">Password</span></td>
				<td><input class="textbox" type="text" /></td>
			</tr>
			<tr>
				<td></td>
				<td><input type="checkbox" /> <span class="label2">Keep me logged in.</span></td>
			</tr>
			<tr>
				<td></td>
				<td><span class="label2"><a href="#">Forgot Password?</a></span></td>
			</tr>
			<tr>
				<td></td>
				<td><button>Sign In</button></td>
			</tr>
		</table>
		
	</div>
</div>
