<div id="profile_wrapper">
	<div id="profile_nav">
		<ul class="nav">
			<li class="visited"><span>PROFILE</span></li>
			<li><span>TV SHOWS</span></li>
			<li><span>GALLERY</span></li>
			<li class="last"><span>STATISTICS</span></li>
		</ul>
	</div>
	<div id="profile_profile">
		<div id="div1">
			<h2>Charles Darwin D.C. Pobre</h2>
			<div id="image">
				<%= image_tag("test/sample4.jpg") %>
			</div>
		</div>
		<div id="div2">
			<h3>Web Developer | Pilipinas Productions</h3>
			<ul>
				<li>Caloocan City, Philippines</li>
				<li>Interests: Graphics, Web Development</li>
			</ul>
			<div id="peek_points">
				<%= image_tag("layout/star.png") %>
				<span><strong>500</strong> Peek Points</span>
				
			</div>
			<div id="getmore">
				<a href="#">Get more points!</a>
			</div>
		</div>
		<div id="div3">
			<h3>Statistics:</h3>
			<ul>
				<li><strong>Profile Views:</strong> <span>344</span></li>
				<li><strong>Total Peeks:</strong> <span>400</span></li>
				<li><strong>Friends:</strong> <span>765</span></li>
				<li><strong>TV Shows:</strong> <span>30</span></li>
				<li><strong>Photos:</strong> <span>123</span></li>
			</ul>
		</div>
	</div>
	<div id="profile_body">
		<div id="main">
			<div id="videos">
				<h3>Featured TV Shows</h3>
				<ul id="videos_hover">
					<li>
						<div id="container">
							<div id="image">
							<%= image_tag("test/1.jpg") %>
							</div>
							
							<div id="statement">
								<p>
									<strong>Sony invests for Peekbox</strong>
									<br />
									<br />
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper ultricies elit, id facilisis velit vehicula eu. . .<a href="#">read more</a>
								</p>
							</div>
						</div>
					</li>
					
					<li>
						<div id="container">
							<div id="image">
							<%= image_tag("test/2.jpg") %>
							</div>
							
							<div id="statement">
								<div id="statement">
									<p>
										<strong>Peekbox Online Craze</strong>
										<br />
										<br />
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper ultricies elit, id facilisis velit vehicula eu. . .<a href="#">read more</a>
									</p>
								</div>
							</div>
						</div>
					</li>

					<li>
						<div id="container">
							<div id="image">
							<%= image_tag("test/3.jpg") %>
							</div>
							
							<div id="statement">
								<p>
									<strong>Video Contest</strong>
									<br />
									<br />
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper ultricies elit, id facilisis velit vehicula eu. . .<a href="#">read more</a>
								</p>
							</div>
						</div>
					</li>

					
				</ul>
				<div id="videos_extra">
					<h3>About Me</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper ultricies elit, id facilisis velit vehicula eu. . .
					</p>
					<br />
					<h3>Profile URL:</h3>
					<p>
						http://peekbox.tv/chabzpobre
					</p>
				</div>
			</div>
			<div id="wall">
				<h4>What do you want to do?</h4>
				<div id="add_activity">
					
					<ul>
						<li><button>Post Something</button></li>
						<li><button>Add Event</button></li>
						<li><button class="special">Upload TV Show</button></li>
					</ul>
				</div>
				<ul id="posts">
					<li>
						<div id="stat">
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="name"><a href="#"><strong>Playmate2012</strong></a> posts an Event</span>
							<br />
							<span>2 hours ago</span>
						</div>
						<div id="post_image">
							<h5>Sample Event</h5>
							<%= image_tag("test/2.jpg") %>
						</div>
					</li>
					<li>
						<div id="stat">
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="name"><a href="#"><strong>Playmate2012</strong></a> posts an Event</span>
							<br />
							<span>2 hours ago</span>
						</div>
						<div id="post_image">
							<h5>Sample Event</h5>
							<%= image_tag("test/1.jpg") %>
						</div>
					</li>
					<li>
						<div id="stat">
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="name"><a href="#"><strong>Playmate2012</strong></a> posts an Event</span>
							<br />
							<span>2 hours ago</span>
						</div>
						<div id="post_image">
							<h5>Sample Event</h5>
							<%= image_tag("test/3.jpg") %>
						</div>
					</li>
					<li>
						<div id="stat">
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="name"><a href="#"><strong>Playmate2012</strong></a> posts an Event</span>
							<br />
							<span>2 hours ago</span>
						</div>
						<div id="post_image">
							<h5>Sample Event</h5>
							<%= image_tag("test/3.jpg") %>
						</div>
					</li>
					<li>
						<div id="stat">
							<div id="image">
								<%= image_tag("test/sample.jpg") %>
							</div>
							<span class="name"><a href="#"><strong>Playmate2012</strong></a> posts an Event</span>
							<br />
							<span>2 hours ago</span>
						</div>
						<div id="post_image">
							<h5>Sample Event</h5>
							<%= image_tag("test/3.jpg") %>
						</div>
					</li>
					
				</ul>
			</div>
		</div>
		<div id="side">
		</div>
	</div>
</div>